django
django-polymorphic
django-widget-tweaks
django-rest-framework
django-filter
djangorestframework-csv
django-rest-polymorphic
conllu
colour
pyexcel
pyexcel-xlsx
seqeval
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz